@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

html,
body{
    font-size: 1.5rem;
    font-family: Raleway;
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
    /* border: 2px solid green;     */

}
header .container{
    border: 2px solid red;
    width: 100%;
    display: flex;
    margin: auto;

    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

header .pre-menu{
    border: 2px solid rgb(255, 0, 242);
    width: 90%;
    height: 4vh;
    display: flex;
    flex-direction: row-reverse;
    /* padding-bottom: 10px; */
    margin: auto;

    max-width: 1100px;

}

header .pre-menu nav{
    display: flex;
    margin-right: 2%;
    position: relative;
}

.pre-menu nav img{
    height: 20px;
    width: 20px;
}

header nav{
    border: 2px solid rgb(0, 47, 255);
    display: flex;
}
header nav ul{
    border: 2px solid rgb(0, 255, 55);
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    padding: 28px 4px;
    margin-left: 30px;
}

nav ul li img{
    width: 100px;
    height: 100px;
}


section.conteudo{
    border: 2px solid red;
    max-width: 1100px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
   
}

section .conteudo-video{
    border: 2px solid blue;
    width: 95%;
    height: 60vh;
    margin: auto;
}

section .conteudo-banners{
    height: 60vh;
    display: flex;
    justify-content: center;
}

.centroeste{
    border: 2px solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/banners/centroeste/banner-centroeste.png");
}

.centroeste .box-title{
    border: 2px solid blue;
    width: 100%;
    height: 7vh;
}


    .h2-regiao{
        font-size: 1.3rem;
        color: #fa6f19;
    }

    .p-descricao{
        font-size: 0.9rem;
        color: #ffff;
        font-weight: 800;
    }

.conteudo-banners img{
    width: 100%;
    height: 90%;
    position: absolute;
    border: 2px solid blue;
    padding-top: 20px;
}


.conteudo-carousell{
    width: 100%;
    height: 100%;
    position: relative;
}

    .d-block{
        width: 90vw;
        height: 60vh;
    }

video{
    width: 100%;
    height: 60vh;
}


/* CARDÁPIO */

.col-md{
    border: 2px solid blue;
    width: 200px;
    height: 50vh;
    position: relative;
    /* display: flex; */
}

.box-title{
    border: 2px solid blue;
    width: 100%;
    height: 10vh;
}

.box-img{
    border: 2px solid blue;
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4px;

}

.box-img img{
    position: absolute;
    width: 95%;
    height: 40vh;
    /* padding-bottom: 30px; */
    margin-top: -40px;
    border: 2px solid blue;

}

.col-md-3{
    border: 2px solid blue;
    width: 350px;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}

    .card{
        border: 2px solid rgb(234, 0, 255);
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }



    .card-title{
        border: 2px solid rgb(0, 255, 42);
        position: relative;
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 1rem;

    }

    .card-text{
        border: 2px solid blue;
        position: relative;
        font-size: 0.6rem;
        height: 30vh;
        padding: 10px;
    }